branches:
    only:
        - master

image:
    - Visual Studio 2017

platform:
    - x64

configuration:
    - Release
    - Debug

install:
    - git submodule update --init --recursive

before_build:
    - ps: mkdir build
    - ps: cd build
    - ps: cmake -G "Visual Studio 15 2017 Win64" ..

build:
    project: $(APPVEYOR_BUILD_FOLDER)\build\$(APPVEYOR_PROJECT_NAME).sln

cache:
    - C:\tools\vcpkg\installed\
